# PyCharm Specific
.idea/

# Mac OS
.DS_Store

# Local settings for prod environment
cosmos_django/local_settings.py

# Virtual environment
venv/

# Python
*.pyc
__pycache__/

# Node
node_modules/

# Mypy
.mypy_cache/

# Axios base URL
frontend/src/constants/base_url_constant.ts

# Media and static
/media/
/static/
frontend/static/frontend/main.js

# Logging
/logs/

# Coverage
.coverage
htmlcov/

# Type script
/build/
/dist/
frontend/src/**/*.js
frontend/src/**/*.js.map
!frontend/src/index.js