# PyCharm Specific
.idea/

# Mac OS
.DS_Store

# Local settings for prod environment
cosmos_django/local_settings.py

# Virtual environment
venv/

# Python
*.pyc
__pycache__/

# Node
node_modules/

# Mypy
.mypy_cache/

# Axios base URL
frontend/src/configs/axios_config.js

# Media and static
/media/
/static/

# Logging
/logs/

# Coverage
.coverage
htmlcov/

# Type script
/build/
/dist/