/* App wide */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* Fonts */
@font-face {
    font-family: "Neue Hans Kendrick";
    src: url("fonts/NeueHansKendrick-Regular.eot");
    src: url("fonts/NeueHansKendrick-Regular.woff") format("woff"),
    url("fonts/NeueHansKendrick-Regular.svg") format("svg");
}

/* Authentication */
.login-signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-signup-form-content {
    width: 400px;
}

.login-signup-form-content h1 {
    text-align: center;
    font-family: "Neue Hans Kendrick", sans-serif;
}

.login-signup-form-content-logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-signup-form-content-logo-container img {
    width: 50%;
    height: 50%;
}

.login-signup-form {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-signup-form button {
    margin-bottom: 20px;
}

.login-signup-form-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.login-signup-input-container {
    margin-top: 20px;
}

.login-signup-input-field {
    width: 100%;
}

.login-signup-redirect-link-container {
    display: flex;
    justify-content: center;
}

.login-signup-redirect-link-container {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Patient Home */
.app-bar-company-name {
    font-family: "Neue Hans Kendrick", sans-serif;
}

/* Patient Header */
.patient-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patient-info {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.patient-header-metadata {
    margin-left: 20px;
}

.patient-header-metadata h1 {
    font-family: "Neue Hans Kendrick", sans-serif;
}

.patient-header-metadata p {
    font-size: 14px;
}

/* Patient charts */
.patient-charts {
    margin-top: 10px;
}

.patient-chart-content-container {
    margin-top: 10px;
}

/* Visit */
.visit {
    margin-bottom: 10px;
}

/* Medication */
.medication {
    margin-bottom: 10px;
}

/* Vaccination */
.vaccination {
    margin-bottom: 10px;
}

/* Visit Creator */
.visit-creator {
    margin: 60px 20px 20px 20px;
}

.visit-creator-close-button {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.visit-creator-close-button:hover {
    opacity: 1;
}

.visit-creator-close-button:before, .visit-creator-close-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.visit-creator-close-button:before {
    transform: rotate(45deg);
}

.visit-creator-close-button:after {
    transform: rotate(-45deg);
}

/* Utilities */
.rounded-grey-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.box-shadow-container {
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

