/* Patient Home */
/* Patient Header */
.patient-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
}

/* Patient charts */
.patient-charts {
    /*margin-top: 100px;*/
}

/* Visit */
.visit {
    border: 1px solid black;
    margin: 10px;
}

/* Medication */
.medication {
    border: 1px solid black;
    margin: 10px;
}

/* Vaccination */
.vaccination {
    border: 1px solid black;
    margin: 10px;
}