/* App wide */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.patient-home {
    margin: 20px;
}

/* Patient Header */
.patient-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.patient-header-metadata {
    margin-left: 20px;
}

/* Patient charts */
.patient-charts {
    margin-top: 10px;
}

.patient-chart-content-container {
    margin-top: 10px;
}

/* Visit */
.visit {
    margin-bottom: 10px;
}

/* Medication */
.medication {
    margin-bottom: 10px;
}

/* Vaccination */
.vaccination {
    margin-bottom: 10px;
}

/* Utilities */
.rounded-grey-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

